<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'New Allotment'" [items]="['Room']" [active_item]="'New Allotment'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Edit Allotment</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="roomForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Room No</mat-label>
                    <input matInput formControlName="roomNo" required>
                    @if (roomForm.get('roomNo')?.hasError('required')) {
                    <mat-error>
                      Room Number is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Room Type</mat-label>
                    <mat-select formControlName="roomType" required>
                      <mat-option [value]="'1'">General</mat-option>
                      <mat-option [value]="'2'">Delux</mat-option>
                      <mat-option [value]="'3'">Super Delux</mat-option>
                      <mat-option [value]="'4'">ICU</mat-option>
                    </mat-select>
                    @if (roomForm.get('roomType')?.hasError('required')) {
                    <mat-error>
                      Room Type is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Patient Name</mat-label>
                    <input matInput formControlName="patientName" required>
                    @if (roomForm.get('patientName')?.hasError('required')) {
                    <mat-error>
                      Patient Name is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Admission Date</mat-label>
                    <input matInput [matDatepicker]="admitDatePicker" formControlName="admitDate" required>
                    <mat-datepicker-toggle matSuffix [for]="admitDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #admitDatePicker></mat-datepicker>
                    @if (roomForm.get('admitDate')?.hasError('required')) {
                    <mat-error>
                      Admission Date is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Discharge Date</mat-label>
                    <input matInput [matDatepicker]="dischargeDatePicker" formControlName="dischargeDate" required>
                    <mat-datepicker-toggle matSuffix [for]="dischargeDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #dischargeDatePicker></mat-datepicker>
                    @if (roomForm.get('dischargeDate')?.hasError('required')) {
                    <mat-error>
                      Discharge Date is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender" required>
                      <mat-option [value]="'Male'">Male</mat-option>
                      <mat-option [value]="'Female'">Female</mat-option>
                      <mat-option [value]="'Other'">Other</mat-option>
                    </mat-select>
                    @if (roomForm.get('gender')?.hasError('required')) {
                    <mat-error>
                      Gender is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Doctor Assigned</mat-label>
                    <input matInput formControlName="doctorAssigned" required>
                    @if (roomForm.get('doctorAssigned')?.hasError('required')) {
                    <mat-error>
                      Doctor Assigned is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status" required>
                      <mat-option [value]="'Admitted'">Admitted</mat-option>
                      <mat-option [value]="'Discharged'">Discharged</mat-option>
                    </mat-select>
                    @if (roomForm.get('status')?.hasError('required')) {
                    <mat-error>
                      Status is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Amount Charged</mat-label>
                    <input matInput type="number" formControlName="amountCharged" required min="0">
                    @if (roomForm.get('amountCharged')?.hasError('required')) {
                    <mat-error>
                      Amount Charged is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Age</mat-label>
                    <input matInput type="number" formControlName="age" required min="0">
                    @if (roomForm.get('age')?.hasError('required')) {
                    <mat-error>
                      Age is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Mobile</mat-label>
                    <input matInput formControlName="mobile" required pattern="^[0-9]{10}$">
                    @if (roomForm.get('mobile')?.hasError('required')) {
                    <mat-error>
                      Mobile Number is required
                    </mat-error>
                    }
                    @if (roomForm.get('mobile')?.hasError('pattern')) {
                    <mat-error>
                      Invalid Mobile Number
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required email>
                    @if (roomForm.get('email')?.hasError('required')) {
                    <mat-error>
                      Email is required
                    </mat-error>
                    }
                    @if (roomForm.get('email')?.hasError('email')) {
                    <mat-error>
                      Invalid Email Address
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>

              <!-- Submit and Cancel Buttons -->
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" [disabled]="!roomForm.valid" mat-flat-button color="primary">Submit</button>
                  <button type="button" mat-flat-button class="formCancelBtn">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>