<div class="addContainer">
  <div class="modalHeader">
    <div class="avatarDetails">
      <label class="hoverable" for="tableFileInput">
        <img [src]='billList.img' alt="avatar">
      </label>
      <div class="modalTitle">
        {{dialogTitle}}
      </div>
    </div>
    <button mat-icon-button mat-dialog-close class="modal-close-button" aria-label="Close dialog" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="billListForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Patient Name</mat-label>
            <input matInput formControlName="patientName" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon>
            @if (billListForm.get('patientName')?.hasError('required')) {
            <mat-error>
              Patient Name is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Admission ID</mat-label>
            <input matInput formControlName="admissionID" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>tag</mat-icon>
            @if (billListForm.get('admissionID')?.hasError('required')) {
            <mat-error>
              Admission ID is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Doctor Name</mat-label>
            <input matInput formControlName="doctorName" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>perm_identity</mat-icon>
            @if (billListForm.get('doctorName')?.hasError('required')) {
            <mat-error>
              Doctor Name is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width " appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" required>
              <mat-option [value]="'Paid'">
                Paid
              </mat-option>
              <mat-option [value]="'Unpaid'">
                Unpaid
              </mat-option>
            </mat-select>
            @if (billListForm.get('status')?.hasError('required')) {
            <mat-error>
              Status is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (billListForm.get('date')?.hasError('required')) {
            <mat-error>
              Please select date
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Tax</mat-label>
            <input matInput formControlName="tax">
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>description</mat-icon>
            @if (billListForm.get('tax')?.hasError('required')) {
            <mat-error>
              Tax is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Discount</mat-label>
            <input matInput formControlName="discount">
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>local_activity</mat-icon>
            @if (billListForm.get('discount')?.hasError('required')) {
            <mat-error>
              Discount is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Total</mat-label>
            <input matInput formControlName="total">
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>receipt</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-flat-button class="formSubmitBtn" [disabled]="!billListForm.valid" [mat-dialog-close]="1"
              type="submit">Save</button>
            <button mat-flat-button mat-dialog-close class="formCancelBtn" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>