<div class="addContainer">
  <div class="modalHeader">
    <div class="avatarDetails">
      <div class="modalTitle">
        {{dialogTitle}}
      </div>
    </div>
    <button mat-icon-button mat-dialog-close class="modal-close-button" aria-label="Close dialog" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="bloodDonorForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Donor ID</mat-label>
            <input matInput formControlName="donorId" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>badge</mat-icon>
            @if (bloodDonorForm.get('donorId')?.hasError('required')) {
            <mat-error>
              Donor ID is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Donor Name</mat-label>
            <input matInput formControlName="donorName" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>person</mat-icon>
            @if (bloodDonorForm.get('donorName')?.hasError('required')) {
            <mat-error>
              Donor Name is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="dobPicker" formControlName="dateOfBirth" required>
            <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
            <mat-datepicker #dobPicker></mat-datepicker>
            @if (bloodDonorForm.get('dateOfBirth')?.hasError('required')) {
            <mat-error>
              Date of Birth is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender" required>
              <mat-option [value]="'Male'">Male</mat-option>
              <mat-option [value]="'Female'">Female</mat-option>
              <mat-option [value]="'Other'">Other</mat-option>
            </mat-select>
            @if (bloodDonorForm.get('gender')?.hasError('required')) {
            <mat-error>
              Gender is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Blood Type</mat-label>
            <mat-select formControlName="bloodType" required>
              <mat-option [value]="'A+'">A+</mat-option>
              <mat-option [value]="'A-'">A-</mat-option>
              <mat-option [value]="'B+'">B+</mat-option>
              <mat-option [value]="'B-'">B-</mat-option>
              <mat-option [value]="'AB+'">AB+</mat-option>
              <mat-option [value]="'AB-'">AB-</mat-option>
              <mat-option [value]="'O+'">O+</mat-option>
              <mat-option [value]="'O-'">O-</mat-option>
            </mat-select>
            @if (bloodDonorForm.get('bloodType')?.hasError('required')) {
            <mat-error>
              Blood Type is required
            </mat-error>
            }
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>home</mat-icon>
            @if (bloodDonorForm.get('address')?.hasError('required')) {
            <mat-error>
              Address is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phoneNumber" type="tel" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>phone</mat-icon>
            @if (bloodDonorForm.get('phoneNumber')?.hasError('required')) {
            <mat-error>
              Phone Number is required
            </mat-error>
            }
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>email</mat-icon>
            @if (bloodDonorForm.get('email')?.hasError('required')) {
            <mat-error>
              Email is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Last Donation Date</mat-label>
            <input matInput [matDatepicker]="lastDonationPicker" formControlName="lastDonationDate" required>
            <mat-datepicker-toggle matSuffix [for]="lastDonationPicker"></mat-datepicker-toggle>
            <mat-datepicker #lastDonationPicker></mat-datepicker>
            @if (bloodDonorForm.get('lastDonationDate')?.hasError('required')) {
            <mat-error>
              Last Donation Date is required
            </mat-error>
            }
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Next Eligible Donation Date</mat-label>
            <input matInput [matDatepicker]="nextEligibleDonationPicker" formControlName="nextEligibleDonationDate"
              required>
            <mat-datepicker-toggle matSuffix [for]="nextEligibleDonationPicker"></mat-datepicker-toggle>
            <mat-datepicker #nextEligibleDonationPicker></mat-datepicker>
            @if (bloodDonorForm.get('nextEligibleDonationDate')?.hasError('required')) {
            <mat-error>
              Next Eligible Donation Date is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Donation Frequency</mat-label>
            <input matInput formControlName="donationFrequency" required>
            @if (bloodDonorForm.get('donationFrequency')?.hasError('required')) {
            <mat-error>
              Donation Frequency is required
            </mat-error>
            }
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Health Status</mat-label>
            <input matInput formControlName="healthStatus" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>health_and_safety</mat-icon>
            @if (bloodDonorForm.get('healthStatus')?.hasError('required')) {
            <mat-error>
              Health Status is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Donor Status</mat-label>
            <mat-select formControlName="donorStatus">
              <mat-option [value]="'Active'">Active</mat-option>
              <mat-option [value]="'Inactive'">Inactive</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Donor Location</mat-label>
            <textarea matInput formControlName="donorLocation"></textarea>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Donation History</mat-label>
            <textarea matInput formControlName="donationHistory" required></textarea>
            @if (bloodDonorForm.get('donationHistory')?.hasError('required')) {
            <mat-error>
              Donation History is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Donor Notes</mat-label>
            <textarea matInput formControlName="donorNotes"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-flat-button class="formSubmitBtn" [disabled]="!bloodDonorForm.valid" type="submit">Save</button>
            <button mat-flat-button mat-dialog-close class="formCancelBtn" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>