<form class="m-4" [formGroup]="docForm" (ngSubmit)="onSubmit()">

    <section class="content">
        <div class="content-block">
          <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb
            [title]="'All ' + title + 's'"
            [items]="[title + 's']"
            [active_item]="'All ' + title + 's'">
          </app-breadcrumb>
          </div>
          <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
              <div class="card">
                <div class="header">
                  <h2>Add {{title}}</h2>
      
                </div>
                <div class="body">
                    <div class="row">
                        <ng-container *ngFor="let field of formFields">
                      
                          <!-- Check if the field is a group -->
                          <div *ngIf="field.type === 'group'" [formGroupName]="field.name" class="nested-group-container">
                            <h3>{{ field.label }}</h3>
                            <div class="row">
                              <!-- Recursive rendering of nested group's fields -->
                              <ng-container *ngFor="let nestedField of field.fields">
                                <div
                                  [ngClass]="{
                                    'col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5': nestedField.type === 'file' || nestedField.type === 'textarea',
                                    'col-xl-6 col-lg-6 col-md-12 col-sm-12': nestedField.type !== 'file' && nestedField.type !== 'textarea'
                                  }"
                                >
                                  <ng-container [ngSwitch]="nestedField.type">
                                    <!-- Repeat the same switch cases here for nestedField -->
                                    
                                    <!-- Text -->
                                    <mat-form-field *ngSwitchCase="'text'" class="example-full-width" appearance="outline">
                                      <mat-label>{{ nestedField.label }}</mat-label>
                                      <input matInput [formControlName]="nestedField.name" />
                                      <mat-error>{{ getErrorMessage(field.name + '.' + nestedField.name) }}</mat-error>
                                    </mat-form-field>
                      
                                    <!-- Password -->
                                    <mat-form-field *ngSwitchCase="'password'" class="example-full-width" appearance="outline">
                                      <mat-label>{{ nestedField.label }}</mat-label>
                                      <input matInput type="password" [formControlName]="nestedField.name" />
                                      <mat-error>{{ getErrorMessage(field.name + '.' + nestedField.name) }}</mat-error>
                                    </mat-form-field>
                      
                                    <!-- Textarea -->
                                    <mat-form-field *ngSwitchCase="'textarea'" class="example-full-width" appearance="outline">
                                      <mat-label>{{ nestedField.label }}</mat-label>
                                      <textarea matInput [formControlName]="nestedField.name"></textarea>
                                    </mat-form-field>
                      
                                    <!-- Dropdown -->
                                    <mat-form-field *ngSwitchCase="'dropdown'" class="example-full-width" appearance="outline">
                                      <mat-label>{{ nestedField.label }}</mat-label>
                                      <mat-select [formControlName]="nestedField.name">
                                        <mat-option *ngFor="let option of nestedField.options" [value]="option">
                                          {{ option }}
                                        </mat-option>
                                      </mat-select>
                                      <mat-error>{{ getErrorMessage(field.name + '.' + nestedField.name) }}</mat-error>
                                    </mat-form-field>
                      
                                    <!-- Date -->
                                    <mat-form-field *ngSwitchCase="'date'" class="example-full-width" appearance="outline">
                                      <mat-label>{{ nestedField.label }}</mat-label>
                                      <input matInput [matDatepicker]="picker" [formControlName]="nestedField.name" />
                                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                      <mat-datepicker #picker></mat-datepicker>
                                      <mat-error>{{ getErrorMessage(field.name + '.' + nestedField.name) }}</mat-error>
                                    </mat-form-field>
                      
                                    <!-- File Upload -->
                                    <div *ngSwitchCase="'file'">
                                      <label>{{ nestedField.label }}</label>
                                      <app-file-upload [formControlName]="nestedField.name"></app-file-upload>
                                    </div>
                      
                                  </ng-container>
                                </div>
                              </ng-container>
                            </div>
                          </div>
                      
                          <!-- Normal fields outside the group -->
                          <div
                            *ngIf="field.type !== 'group'"
                            [ngClass]="{
                              'col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5': field.type === 'file' || field.type === 'textarea',
                              'col-xl-6 col-lg-6 col-md-12 col-sm-12': field.type !== 'file' && field.type !== 'textarea'
                            }"
                          >
                            <ng-container [ngSwitch]="field.type">
                      
                              <!-- Text -->
                              <mat-form-field *ngSwitchCase="'text'" class="example-full-width" appearance="outline">
                                <mat-label>{{ field.label }}</mat-label>
                                <input matInput [formControlName]="field.name" />
                                <mat-error>{{ getErrorMessage(field.name) }}</mat-error>
                              </mat-form-field>
                      
                              <!-- Password -->
                              <mat-form-field *ngSwitchCase="'password'" class="example-full-width" appearance="outline">
                                <mat-label>{{ field.label }}</mat-label>
                                <input matInput type="password" [formControlName]="field.name" />
                                <mat-error>{{ getErrorMessage(field.name) }}</mat-error>
                              </mat-form-field>
                      
                              <!-- Textarea -->
                              <mat-form-field *ngSwitchCase="'textarea'" class="example-full-width" appearance="outline">
                                <mat-label>{{ field.label }}</mat-label>
                                <textarea matInput [formControlName]="field.name"></textarea>
                              </mat-form-field>
                      
                              <!-- Dropdown -->
                              <mat-form-field *ngSwitchCase="'dropdown'" class="example-full-width" appearance="outline">
                                <mat-label>{{ field.label }}</mat-label>
                                <mat-select [formControlName]="field.name">
                                  <mat-option *ngFor="let option of field.options" [value]="option">
                                    {{ option }}
                                  </mat-option>
                                </mat-select>
                                <mat-error>{{ getErrorMessage(field.name) }}</mat-error>
                              </mat-form-field>
                      
                              <!-- Date -->
                              <mat-form-field *ngSwitchCase="'date'" class="example-full-width" appearance="outline">
                                <mat-label>{{ field.label }}</mat-label>
                                <input matInput [matDatepicker]="picker" [formControlName]="field.name" />
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error>{{ getErrorMessage(field.name) }}</mat-error>
                              </mat-form-field>
                      
                              <!-- File Upload -->
                              <div *ngSwitchCase="'file'">
                                <label>{{ field.label }}</label>
                                <app-file-upload [formControlName]="field.name"></app-file-upload>
                              </div>
                      
                            </ng-container>
                          </div>
                        </ng-container>
                      </div>
                      
                      
                      
                  
                </div>
                <div class="m-4">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                      <button type="submit" [disabled]="loading" class="btn-space" mat-flat-button>
    
                    <ng-container *ngIf="!loading; else spinner">Submit</ng-container>
                      </button>
                      <ng-template #spinner>
                          <mat-spinner class="preloader pl-size-xs" diameter="20"></mat-spinner>
                        </ng-template>
                      <button type="button" [disabled]="loading" mat-stroked-button>Cancel</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
    </form>
    
    