<div class="addContainer">
    <form class="register-form m-4" [formGroup]="docForm" (ngSubmit)="onSubmit()">

    <div class="modalHeader">
      <div class="avatarDetails">
        <label class="hoverable" for="tableFileInput">
          <!-- <img [src]='assets/images/user/doctor.jpg' class="table-img" alt="avatar"> -->
        </label>
        <div class="modalTitle">
          {{dialogTitle}}
        </div>
      </div>
      <button mat-icon-button mat-dialog-close class="modal-close-button" aria-label="Close dialog" type="button">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <div class="row">
        <ng-container *ngFor="let field of formFields">
      
          <!-- Check if the field is a group -->
          <div *ngIf="field.type === 'group'" [formGroupName]="field.name" class="nested-group-container">
            <h3>{{ field.label }}</h3>
            <div class="row">
              <!-- Recursive rendering of nested group's fields -->
              <ng-container *ngFor="let nestedField of field.fields">
                <div
                  [ngClass]="{
                    'col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5': nestedField.type === 'file' || nestedField.type === 'textarea',
                    'col-xl-6 col-lg-6 col-md-12 col-sm-12': nestedField.type !== 'file' && nestedField.type !== 'textarea'
                  }"
                >
                  <ng-container [ngSwitch]="nestedField.type">
                    <!-- Repeat the same switch cases here for nestedField -->
                    
                    <!-- Text -->
                    <mat-form-field *ngSwitchCase="'text'" class="example-full-width" appearance="outline">
                      <mat-label>{{ nestedField.label }}</mat-label>
                      <input matInput [formControlName]="nestedField.name" />
                      <mat-error>{{ getErrorMessage(field.name + '.' + nestedField.name) }}</mat-error>
                    </mat-form-field>
      
                    <!-- Password -->
                    <mat-form-field *ngSwitchCase="'password'" class="example-full-width" appearance="outline">
                      <mat-label>{{ nestedField.label }}</mat-label>
                      <input matInput type="password" [formControlName]="nestedField.name" />
                      <mat-error>{{ getErrorMessage(field.name + '.' + nestedField.name) }}</mat-error>
                    </mat-form-field>
      
                    <!-- Textarea -->
                    <mat-form-field *ngSwitchCase="'textarea'" class="example-full-width" appearance="outline">
                      <mat-label>{{ nestedField.label }}</mat-label>
                      <textarea matInput [formControlName]="nestedField.name"></textarea>
                    </mat-form-field>
      
                    <!-- Dropdown -->
                    <mat-form-field *ngSwitchCase="'dropdown'" class="example-full-width" appearance="outline">
                      <mat-label>{{ nestedField.label }}</mat-label>
                      <mat-select [formControlName]="nestedField.name">
                        <mat-option *ngFor="let option of nestedField.options" [value]="option">
                          {{ option }}
                        </mat-option>
                      </mat-select>
                      <mat-error>{{ getErrorMessage(field.name + '.' + nestedField.name) }}</mat-error>
                    </mat-form-field>

                    
              <mat-form-field *ngSwitchCase="'autocomplete'" class="example-full-width">
                <mat-label>{{ nestedField.label }}</mat-label>
                <input
                  type="text"
                  matInput
                  [formControlName]="nestedField.name"
                  [matAutocomplete]="auto"
                  (input)="onSearchTextChanged(field.name + '.' + nestedField.name, $event)"
                />
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let option of filteredOptions[field.name + '.' + nestedField.name] | async" [value]="option">
                    {{ option.valuetoShow }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error>{{ getErrorMessage(field.name + '.' + nestedField.name) }}</mat-error>
              </mat-form-field>
              
      
                    <!-- Date -->
                    <mat-form-field *ngSwitchCase="'date'" class="example-full-width" appearance="outline">
                      <mat-label>{{ nestedField.label }}</mat-label>
                      <input matInput [matDatepicker]="picker" [formControlName]="nestedField.name" />
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      <mat-error>{{ getErrorMessage(field.name + '.' + nestedField.name) }}</mat-error>
                    </mat-form-field>
      
                    <!-- File Upload -->
                    <div *ngSwitchCase="'file'">
                      <label>{{ nestedField.label }}</label>
                      <app-file-upload [formControlName]="nestedField.name"></app-file-upload>
                    </div>
      
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>
      
          <!-- Normal fields outside the group -->
          <div
            *ngIf="field.type !== 'group'"
            [ngClass]="{
              'col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5': field.type === 'file' || field.type === 'textarea',
              'col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-1': field.type !== 'file' && field.type !== 'textarea'
            }"
          >
            <ng-container [ngSwitch]="field.type">
      
              <!-- Text -->
              <mat-form-field *ngSwitchCase="'text'" class="example-full-width" appearance="outline">
                <mat-label>{{ field.label }}</mat-label>
                <input matInput [formControlName]="field.name" [readonly]="field.isreadonly"/>
                <mat-hint *ngIf="field.isreadonly">This field is non-editable.</mat-hint>
                <mat-error>{{ getErrorMessage(field.name) }}</mat-error>
              </mat-form-field>
      
              <!-- Password -->
              <mat-form-field *ngSwitchCase="'password'" class="example-full-width" appearance="outline">
                <mat-label>{{ field.label }}</mat-label>
                <input matInput type="password" [formControlName]="field.name" />
                <mat-error>{{ getErrorMessage(field.name) }}</mat-error>
              </mat-form-field>
      
              <!-- Textarea -->
              <mat-form-field *ngSwitchCase="'textarea'" class="example-full-width" appearance="outline">
                <mat-label>{{ field.label }}</mat-label>
                <textarea matInput [formControlName]="field.name"></textarea>
              </mat-form-field>
      
              <!-- Dropdown -->
              <mat-form-field *ngSwitchCase="'dropdown'" class="example-full-width" appearance="outline">
                <mat-label>{{ field.label }}</mat-label>
                <mat-select [formControlName]="field.name">
                  <mat-option *ngFor="let option of field.options" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-select>
                <mat-error>{{ getErrorMessage(field.name) }}</mat-error>
              </mat-form-field>

              <mat-form-field *ngSwitchCase="'autocomplete'" class="example-full-width">
                <mat-label>{{ field.label }}</mat-label>
                <input
                  type="text"
                  matInput
                  [formControlName]="field.name"
                  [matAutocomplete]="auto"
                  (input)="onSearchTextChanged(field.name, $event)"
                />
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let option of filteredOptions[field.name] | async" [value]="option">
                    {{ option.label }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error>{{ getErrorMessage(field.name) }}</mat-error>
              </mat-form-field>
              
              
              
              <!-- Date -->
              <mat-form-field *ngSwitchCase="'date'" class="example-full-width" appearance="outline">
                <mat-label>{{ field.label }}</mat-label>
                <input matInput [matDatepicker]="picker" [formControlName]="field.name" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>{{ getErrorMessage(field.name) }}</mat-error>
              </mat-form-field>
      
              <!-- File Upload -->
              <div *ngSwitchCase="'file'">
                <label>{{ field.label }}</label>
                <app-file-upload [formControlName]="field.name"></app-file-upload>
              </div>
      
            </ng-container>
          </div>
        </ng-container>
      </div>
         
        
      
    </div>
    <div class="m-4">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
          <button type="submit" [disabled]="loading" class="btn-space" mat-flat-button>

        <ng-container *ngIf="!loading; else spinner">  {{ action === 'edit' ? 'Update' : 'Add' }}</ng-container>
          </button>
          <ng-template #spinner>
              <mat-spinner class="preloader pl-size-xs" diameter="20"></mat-spinner>
            </ng-template>
          <button type="button" mat-dialog-close [disabled]="loading" mat-stroked-button>Cancel</button>
        </div>
      </div>
    </form>
  </div>