<div class="auth-container">
    <div class="row auth-main">
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <div class="left-img" style="background-image: url(assets/images/hospitallogos/vj_hospitals_logo.jpg);">
        </div>
      </div>
      <div class="col-sm-6 auth-form-section">
        <div class="form-section">
          <div class="auth-wrapper">
            <!-- <h6 class="welcome-msg"> Welcome</h6>
            <p class="auth-signup-text text-muted">Need an account?<a routerLink="/authentication/signup"
                class="sign-up-link">Sign Up
              </a></p>
            <div class="d-flex justify-content-between lbl-alert mb-3">
              <div>
                <button mat-flat-button class="adminBtn" (click)="adminSet();">Admin</button>
              </div>
              <div>
                <button mat-flat-button class="doctorBtn" (click)="doctorSet();">Doctor</button>
              </div>
              <div>
                <button mat-flat-button class="patientBtn" (click)="patientSet();">Patient</button>
              </div>
            </div> -->
            <h6 class="login-title col-blue font-32 mb-0">Login</h6>
            <p class="font-5 m-b-30">Welcome! Please Sign in to your account.</p>
            <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" />
                    <mat-icon class="material-icons-outlined p-3" matSuffix>face</mat-icon>
                    @if (authForm.get('username')!.hasError('required')) {
                    <mat-error>
                      Username is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <mat-icon class="material-icons-outlined pwd-toggle p-3" matSuffix (click)="hide = !hide">
                      {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    @if (authForm.get('password')!.hasError('required')) {
                    <mat-error>
                      Password is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword" />
                    <mat-icon class="material-icons-outlined pwd-toggle p-3" matSuffix (click)="hideConfirm = !hideConfirm">
                      {{hideConfirm ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                    @if (authForm.get('confirmPassword')!.hasError('required')) {
                      <mat-error>
                        Confirm Password is required
                      </mat-error>
                    }
                    @if (authForm.hasError('passwordMismatch') && authForm.get('confirmPassword')!.touched) {
                      <mat-error>
                        Passwords do not match
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              
              <div class="d-flex justify-content-between align-items-center mb-5">
                  <mat-checkbox class="example-margin">Remember Me</mat-checkbox>
                <a class="txt1" routerLink="/authentication/forgot-password">Forgot Password?</a>
              </div>
              <!-- @if (error) {
              <div class="alert alert-danger mt-3 mb-0">{{error}}</div>
              } -->
              <div class="container-auth-form-btn"> 
                <div style="text-align:center">
                  <button mat-flat-button color="accent" [disabled]="false"
                    class="auth-form-btn" [disabled]="false" type="submit">Login</button>
                    <mat-spinner class="preloader pl-size-xs"></mat-spinner>
                </div>
              </div>
            </form>
            <h6 class="social-login-title">OR</h6>
            <ul class="list-unstyled social-icon mb-0 mt-3">
              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
                  <i class="fab fa-google"></i>
                </a></li>
              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded flex-c-m">
                  <i class="fab fa-facebook-f"></i>
                </a></li>
              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
                  <i class="fab fa-twitter"></i>
                </a></li>
              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
                  <i class="fab fa-linkedin-in"></i>
                </a></li>
            </ul>
          </div>
        </div>
      </div>
  
    </div>
  </div>