:host ::ng-deep .fc .fc-daygrid-event {
  border: none !important;
  position: relative;
  background-color: #0d6efd !important;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(106, 76, 175, 0.4);
  font-weight: 400;
  color: #fff;
}
