<div class="addContainer">
  @if (isDetails) {
  <div class="contact-details">
    <div class="modalHeader">
      <div class="avatarDetails">
        <label class="hoverable" for="tableFileInput">
          <img [src]='appointments.img' alt="avatar">
        </label>
        <div class="modalTitle">
          {{appointments.patientName}}
        </div>
      </div>
      <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div mat-dialog-content>
      <mat-card-content>
        <div class="contact-details-field m-b-30" matTooltip="Appointment Date & TIme" [matTooltipPosition]="'above'">
          <i class="material-icons-outlined color-icon">event_note</i>
          <div class="contact-detail-info"> {{appointments.appointmentDate | date: 'MMMM d, yyyy'}}
            {{appointments.appointmentTime}}
          </div>
        </div>
        <div class="contact-details-field m-b-30" matTooltip="Patient Email Address" [matTooltipPosition]="'above'">
          <i class="material-icons-outlined color-icon">email</i>
          <div class="contact-detail-info"> {{appointments.email}}
          </div>
        </div>
        <div class="contact-details-field m-b-30" matTooltip="Patient Mobile Number" [matTooltipPosition]="'above'">
          <i class="material-icons-outlined color-icon">phonelink_ring</i>
          <div class="contact-detail-info"> {{appointments.mobile}}
          </div>
        </div>
        <div class="contact-details-field m-b-30" matTooltip="Patient Address" [matTooltipPosition]="'above'">
          <i class="material-icons-outlined color-icon">location_on</i>
          <div class="contact-detail-info"> {{appointments.address}}
          </div>
        </div>
        <div class="contact-details-field" matTooltip="Patient Disease" [matTooltipPosition]="'above'">
          <i class="material-icons-outlined color-icon">healing</i>
          <div class="contact-detail-info"> {{appointments.disease}}
          </div>
        </div>
      </mat-card-content>
    </div>
  </div>
  }
</div>