<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Dashboard'" [items]="[]" [active_item]="'Dashboard'"></app-breadcrumb>
    </div>
    <!-- Widgets -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="body">
            <div class="row align-items-center">
              <div class="col-md-4">
                <img src="assets/images/pages/welcome.png" alt="" class="w-100">
              </div>
              <div class="col-md-8">
                <p class="font-16 font-b-500 mb-2">
                  Welcome back
                </p>
                <div class="font-b-500 font-25 col-blue mb-2">Cara Stevens!</div>
                <p class="font-16 max-width-600">We would like to take this opportunity to welcome you to our practice
                  and to thank you
                  for choosing our physicians to participate in your healthcare. We look forward to
                  providing you with personalized, comprehensive health care focusing on wellness and
                  prevention.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon-only shadow-primary float-start">
              <img src="assets/images/pages/blood-pressure.png" alt="">
            </div>
            <div class="card-right">
              <div>
                <p class="float-end font-b-500">Blood Pressure</p>
              </div>
              <div class="col-green">
                <p class="font-b-600 float-end mb-0 font-18"> 110/70</p>
              </div>
            </div>
          </div>
          <div class="card-content msl-4 mb-3">
            <p class="m-b-0 font-12 d-flex"><i class="material-icons col-green psr-2">trending_up</i> 10% Higher Then
              Last Month
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon-only shadow-primary float-start">
              <img src="assets/images/pages/heart-rate.png" alt="">
            </div>
            <div class="card-right">
              <div>
                <p class="float-end font-b-500">Blood Pressure</p>
              </div>
              <div class="col-green">
                <p class="font-b-600 float-end mb-0 font-18">650</p>
              </div>
            </div>
          </div>
          <div class="card-content msl-4 mb-3">
            <p class="m-b-0 font-12 d-flex"><i class="material-icons col-orange psr-2">trending_down</i> 07% Less Then
              Last
              Month
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon-only shadow-primary float-start">
              <img src="assets/images/pages/glucose.png" alt="">
            </div>
            <div class="card-right">
              <div>
                <p class="float-end font-b-500">Glucose Level</p>
              </div>
              <div class="col-green">
                <p class="font-b-600 float-end mb-0 font-18">88-75</p>
              </div>
            </div>
          </div>
          <div class="card-content msl-4 mb-3">
            <p class="m-b-0 font-12 d-flex"><i class="material-icons col-green psr-2">trending_up</i> 12% Higher Then
              Last Month
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon-only shadow-primary float-start">
              <img src="assets/images/pages/blood-count.png" alt="">
            </div>
            <div class="card-right">
              <div>
                <p class="float-end font-b-500">Blood Count</p>
              </div>
              <div class="col-green">
                <p class="font-b-600 float-end mb-0 font-18">9,456/mL</p>
              </div>
            </div>
          </div>
          <div class="card-content msl-4 mb-3">
            <p class="m-b-0 font-12 d-flex"><i class="material-icons col-orange psr-2">trending_down</i> 22% Less Then
              Last
              Month
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <mat-card>
          <mat-card-header class="header-style">
            <mat-card-title>Resting Heart Rate</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="float-start">
              <p class="font-b-500">72 bmp <span class="text-muted font-12">(Average)</span></p>
            </div>
            <div class="mb-5">
              <apx-chart [series]="restRateChartOptions.series!" [chart]="restRateChartOptions.chart!"
                [xaxis]="restRateChartOptions.xaxis!" [stroke]="restRateChartOptions.stroke!"
                [colors]="restRateChartOptions.colors!" [dataLabels]="restRateChartOptions.dataLabels!"
                [legend]="restRateChartOptions.legend!" [markers]="restRateChartOptions.markers!"
                [grid]="restRateChartOptions.grid!" [yaxis]="restRateChartOptions.yaxis!"
                [tooltip]="restRateChartOptions.tooltip!" [title]="restRateChartOptions.title!"></apx-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <mat-card>
          <mat-card-header class="header-style">
            <mat-card-title>Performance Heart Rate</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="float-start">
              <p class="font-b-500">129 bmp <span class="text-muted font-12">(Average)</span></p>
            </div>
            <div class="mb-5">
              <apx-chart [series]="performanceRateChartOptions.series!" [chart]="performanceRateChartOptions.chart!"
                [xaxis]="performanceRateChartOptions.xaxis!" [stroke]="performanceRateChartOptions.stroke!"
                [colors]="performanceRateChartOptions.colors!" [dataLabels]="performanceRateChartOptions.dataLabels!"
                [legend]="performanceRateChartOptions.legend!" [markers]="performanceRateChartOptions.markers!"
                [grid]="performanceRateChartOptions.grid!" [yaxis]="performanceRateChartOptions.yaxis!"
                [tooltip]="performanceRateChartOptions.tooltip!" [title]="performanceRateChartOptions.title!">
              </apx-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <mat-card>
          <mat-card-header class="header-style">
            <mat-card-title>Medications</mat-card-title>
            <a mat-button color="primary" href="#" (click)="$event.preventDefault();">View All</a>
          </mat-card-header>
          <mat-card-content>
            <ng-scrollbar style="height: 400px" visibility="hover">
              <div class="table-responsive">
                <app-medicine-list [medicineDataSource]="medicineDataSource"></app-medicine-list>
              </div>
              <div class="text-center p-t-20">
                <button mat-stroked-button color="primary">Report Adverse Effect</button>
              </div>
            </ng-scrollbar>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card">
          <div class="body">
            <mat-tab-group dynamicHeight>
              <mat-tab label="Upcoming Appointment">
                <ul class="list-unstyled list-unstyled-border list-unstyled-noborder">
                  <li class="app-list">
                    <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig1.jpg">
                    <div class="set-flex">
                      <div class="media-title font-b-500 font-14">Dr.Cara Stevens</div>
                      <div class="text-job text-muted font-12 mb-0">Radiologist</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title font-b-500 font-14">12 June '20</div>
                      <div class="text-job text-muted font-12 mb-0">09:00-10:00</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted font-12 mb-0">Treatement</div>
                      <div class="text-job font-b-500 font-14">CT scans</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted font-12 mb-0">Contact Number</div>
                      <div class="text-job font-b-500 font-14">+123 676545655</div>
                    </div>
                    <div class="media-cta">
                      <td>
                        <button mat-icon-button class="col-red">
                          <mat-icon>highlight_off</mat-icon>
                        </button>
                      </td>
                    </div>
                  </li>
                  <li class="app-list">
                    <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig2.jpg">
                    <div class="set-flex">
                      <div class="media-title font-b-500 font-14">Dr.John Doe</div>
                      <div class="text-job text-muted font-12 mb-0">Cardiologist</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title font-b-500 font-14">13 June '20</div>
                      <div class="text-job text-muted font-12 mb-0">11:00-11:30</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted font-12 mb-0">Treatement</div>
                      <div class="text-job font-b-500 font-14">heart checkup</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted font-12 mb-0">Contact Number</div>
                      <div class="text-job font-b-500 font-14">+123 434656764</div>
                    </div>
                    <div class="media-cta">
                      <td>
                        <button mat-icon-button class="col-red">
                          <mat-icon>highlight_off</mat-icon>
                        </button>
                      </td>
                    </div>
                  </li>
                  <li class="app-list">
                    <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig3.jpg">
                    <div class="set-flex">
                      <div class="media-title font-b-500 font-14">Dr.Airi Satou</div>
                      <div class="text-job text-muted font-12 mb-0">Otolaryngologist</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title font-b-500 font-14">12 June '20</div>
                      <div class="text-job text-muted font-12 mb-0">09:15-10:15 </div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted font-12 mb-0">Treatement</div>
                      <div class="text-job font-b-500 font-14">Diseases Of The Ear</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted font-12 mb-0">Contact Number</div>
                      <div class="text-job font-b-500 font-14">+123 45345673</div>
                    </div>
                    <div class="media-cta">
                      <td>
                        <button mat-icon-button class="col-red">
                          <mat-icon>highlight_off</mat-icon>
                        </button>
                      </td>
                    </div>
                  </li>
                  <li class="app-list">
                    <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig4.jpg">
                    <div class="set-flex">
                      <div class="media-title font-b-500 font-14">Dr.Angelica Ramos</div>
                      <div class="text-job text-muted font-12 mb-0">Dentist</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title font-b-500 font-14">12 June '20</div>
                      <div class="text-job text-muted font-12 mb-0">11:00-12:00</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted font-12 mb-0">Treatement</div>
                      <div class="text-job font-b-500 font-14">Root Canal</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted font-12 mb-0">Contact Number</div>
                      <div class="text-job font-b-500 font-14">+123 87654533</div>
                    </div>
                    <div class="media-cta">
                      <td>
                        <button mat-icon-button class="col-red">
                          <mat-icon>highlight_off</mat-icon>
                        </button>
                      </td>
                    </div>
                  </li>
                  <li class="app-list">
                    <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig6.jpg">
                    <div class="set-flex">
                      <div class="media-title font-b-500 font-14">Dr.Jens Brincker</div>
                      <div class="text-job text-muted font-12 mb-0">Endocrinologist</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title font-b-500 font-14">23 June '20</div>
                      <div class="text-job text-muted font-12 mb-0">04:00-05:00</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted font-12 mb-0">Treatement</div>
                      <div class="text-job font-b-500 font-14">Diabetes</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted font-12 mb-0">Contact Number</div>
                      <div class="text-job font-b-500 font-14">+123 45678345</div>
                    </div>
                    <div class="media-cta">
                      <td>
                        <button mat-icon-button class="col-red">
                          <mat-icon>highlight_off</mat-icon>
                        </button>
                      </td>
                    </div>
                  </li>
                  <li class="app-list">
                    <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig7.jpg">
                    <div class="set-flex">
                      <div class="media-title font-b-500 font-14">Dr.Airi Satou</div>
                      <div class="text-job text-muted font-12 mb-0">Otolaryngologist</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title font-b-500 font-14">12 June '20</div>
                      <div class="text-job text-muted font-12 mb-0">09:15-10:15 </div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted font-12 mb-0">Treatement</div>
                      <div class="text-job font-b-500 font-14">Diseases Of The Ear</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted font-12 mb-0">Contact Number</div>
                      <div class="text-job font-b-500 font-14">+123 45345673</div>
                    </div>
                    <div class="media-cta">
                      <td>
                        <button mat-icon-button class="col-red">
                          <mat-icon>highlight_off</mat-icon>
                        </button>
                      </td>
                    </div>
                  </li>
                </ul>
              </mat-tab>
              <mat-tab label="Past Appointment">
                <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder">
                  <li class="app-list">
                    <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig7.jpg">
                    <div class="set-flex">
                      <div class="media-title font-b-500 font-14">Dr.Jens Brincker</div>
                      <div class="text-job text-muted font-12 mb-0">Endocrinologist</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title font-b-500 font-14">23 June '20</div>
                      <div class="text-job text-muted font-12 mb-0">04:00-05:00</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted font-12 mb-0">Treatement</div>
                      <div class="text-job font-b-500 font-14">Diabetes</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted font-12 mb-0">Contact Number</div>
                      <div class="text-job font-b-500 font-14">+123 45678345</div>
                    </div>
                    <div class="media-cta">
                      <td>
                        <button mat-icon-button class="col-green">
                          <mat-icon>check_circle_outline</mat-icon>
                        </button>
                      </td>
                    </div>
                  </li>
                  <li class="app-list">
                    <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig6.jpg">
                    <div class="set-flex">
                      <div class="media-title font-b-500 font-14">Dr.John Doe</div>
                      <div class="text-job text-muted font-12 mb-0">Cardiologist</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title font-b-500 font-14">13 June '20</div>
                      <div class="text-job text-muted font-12 mb-0">11:00-11:30</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted font-12 mb-0">Treatement</div>
                      <div class="text-job font-b-500 font-14">heart checkup</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted font-12 mb-0">Contact Number</div>
                      <div class="text-job font-b-500 font-14">+123 434656764</div>
                    </div>
                    <div class="media-cta">
                      <td>
                        <button mat-icon-button class="col-green">
                          <mat-icon>check_circle_outline</mat-icon>
                        </button>
                      </td>
                    </div>
                  </li>
                  <li class="app-list">
                    <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig8.jpg">
                    <div class="set-flex">
                      <div class="media-title font-b-500 font-14">Dr.Cara Stevens</div>
                      <div class="text-job text-muted font-12 mb-0">Radiologist</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title font-b-500 font-14">12 June '20</div>
                      <div class="text-job text-muted font-12 mb-0">09:00-10:00</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted font-12 mb-0">Treatement</div>
                      <div class="text-job font-b-500 font-14">CT scans</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted font-12 mb-0">Contact Number</div>
                      <div class="text-job font-b-500 font-14">+123 676545655</div>
                    </div>
                    <div class="media-cta">
                      <td>
                        <button mat-icon-button class="col-green">
                          <mat-icon>check_circle_outline</mat-icon>
                        </button>
                      </td>
                    </div>
                  </li>
                  <li class="app-list">
                    <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig9.jpg">
                    <div class="set-flex">
                      <div class="media-title font-b-500 font-14">Dr.Airi Satou</div>
                      <div class="text-job text-muted font-12 mb-0">Otolaryngologist</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title font-b-500 font-14">12 June '20</div>
                      <div class="text-job text-muted font-12 mb-0">09:15-10:15 </div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted font-12 mb-0">Treatement</div>
                      <div class="text-job font-b-500 font-14">Diseases Of The Ear</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted font-12 mb-0">Contact Number</div>
                      <div class="text-job font-b-500 font-14">+123 45345673</div>
                    </div>
                    <div class="media-cta">
                      <td>
                        <button mat-icon-button class="col-green">
                          <mat-icon>check_circle_outline</mat-icon>
                        </button>
                      </td>
                    </div>
                  </li>
                  <li class="app-list">
                    <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig5.jpg">
                    <div class="set-flex">
                      <div class="media-title font-b-500 font-14">Dr.Angelica Ramos</div>
                      <div class="text-job text-muted font-12 mb-0">Dentist</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title font-b-500 font-14">12 June '20</div>
                      <div class="text-job text-muted font-12 mb-0">11:00-12:00</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted font-12 mb-0">Treatement</div>
                      <div class="text-job font-b-500 font-14">Root Canal</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted font-12 mb-0">Contact Number</div>
                      <div class="text-job font-b-500 font-14">+123 87654533</div>
                    </div>
                    <div class="media-cta">
                      <td>
                        <button mat-icon-button class="col-green">
                          <mat-icon>check_circle_outline</mat-icon>
                        </button>
                      </td>
                    </div>
                  </li>
                  <li class="app-list">
                    <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig10.jpg">
                    <div class="set-flex">
                      <div class="media-title font-b-500 font-14">Dr.John Doe</div>
                      <div class="text-job text-muted font-12 mb-0">Cardiologist</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title font-b-500 font-14">13 June '20</div>
                      <div class="text-job text-muted font-12 mb-0">11:00-11:30</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted font-12 mb-0">Treatement</div>
                      <div class="text-job font-b-500 font-14">heart checkup</div>
                    </div>
                    <div class="set-flex">
                      <div class="media-title text-muted font-12 mb-0">Contact Number</div>
                      <div class="text-job font-b-500 font-14">+123 434656764</div>
                    </div>
                    <div class="media-cta">
                      <td>
                        <button mat-icon-button class="col-green">
                          <mat-icon>check_circle_outline</mat-icon>
                        </button>
                      </td>
                    </div>
                  </li>
                </ul>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <mat-card>
          <mat-card-header class="header-style">
            <mat-card-title>Reports/Documents</mat-card-title>
            <a mat-button color="primary" href="#" (click)="$event.preventDefault();">View All</a>
          </mat-card-header>
          <mat-card-content>
            <ng-scrollbar style="height: 400px" visibility="hover">
              <app-report-list [reports]="reports"></app-report-list>
            </ng-scrollbar>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>