<div class="addContainer">
  <div class="modalHeader">
    <div class="avatarDetails">
      <div class="modalTitle">
        {{dialogTitle}}
      </div>
    </div>
    <button mat-icon-button mat-dialog-close class="modal-close-button" aria-label="Close dialog" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="issuedItemsForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Item Name</mat-label>
            <input matInput formControlName="i_name" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>receipt</mat-icon>
            @if (issuedItemsForm.get('i_name')?.hasError('required')) {
            <mat-error>
              Item name is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Category</mat-label>
            <input matInput formControlName="category" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon>
            @if (issuedItemsForm.get('category')?.hasError('required')) {
            <mat-error>
              Category is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Issue date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="issue_date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (issuedItemsForm.get('issue_date')?.hasError('required')) {
            <mat-error>
              Please select date
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Return date</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="return_date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            @if (issuedItemsForm.get('return_date')?.hasError('required')) {
            <mat-error>
              Please select date
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Issue To</mat-label>
            <input matInput formControlName="issue_to" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>account_circle</mat-icon>
            @if (issuedItemsForm.get('issue_to')?.hasError('required')) {
            <mat-error>
              Issue To is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Quantity</mat-label>
            <input matInput formControlName="qty" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>account_circle</mat-icon>
            @if (issuedItemsForm.get('qty')?.hasError('required')) {
            <mat-error>
              Quantity is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <div class="m-b-20">
            <mat-label class="msr-3">Status:</mat-label>
            <mat-radio-group aria-label="Select status" formControlName="status" required>
              <mat-radio-button value="Issued">Issued</mat-radio-button>
              <mat-radio-button value="Returned">Returned</mat-radio-button>
              @if (issuedItemsForm.get('status')?.hasError('required')) {
              <mat-error>
                Select status
              </mat-error>
              }
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-flat-button class="formSubmitBtn" [disabled]="!issuedItemsForm.valid" [mat-dialog-close]="1"
              type="submit">Save</button>
            <button mat-flat-button mat-dialog-close class="formCancelBtn" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>